*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

input, textarea, select {
    width: 300px;
    padding: 6px;
    margin: 5px 0;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

.error {
    color: red;
    margin-top: 10px;
}

#loader {
    display: none;
    font-weight: bold;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px; 
    width: auto;
}
.header_class{
    height: 4rem;
    width: 100vw;
    border: 1px solid rgba(0, 0, 0, 0.096);
    padding: 0.2rem 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    z-index: 11;
}

.parent{
    overflow: hidden;
}
.logout-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.button-style{
    background: white;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 5px;
}


