body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

input, textarea, select {
    width: 300px;
    padding: 6px;
    margin: 5px 0;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

.error {
    color: red;
    margin-top: 10px;
}

#loader {
    display: none;
    font-weight: bold;
}
.logo{
    width: 10px;
    height: 20px;
}